/*index page styling*/
		.in-text{
			color:white;
			font-weight: bold;
			font-size: 8vw;
			text-align: center;
		}
		.in-body {
			background-color: #191606;
			color: white;
		}

		.in-bot {
				margin: 200px 0px 10px 0px;
		}

		.in-set {
			background-color: #0d0b03;
			border: none;
			height: 50px;
			position: -webkit-sticky; top:0;
			position: sticky;top: 0;

		}

		.nav-items {
			background-color: #191606;
			margin-top: 0;
		}

		.nav-moblogo {
			float: left; 
			display: inline-block; 
			padding: 10px;
		}
		.width100-img {
			width: 100%;
		}

		.logoposition {
			margin-left: auto; margin-right: auto;
		}


		.cust-btn:link, .cust-btn:visited {
			padding: 10px;
			background-color:#B4710A; 		
			height: 50px;
			width: 30vw;
			min-width: 250px;
			max-width: 300px;
			margin: 20px 0px;
			border-radius: 0;
			color: white; 
			border:none;
			box-shadow: 15px 15px 50px black;
			transition-duration: 0.2s;
			-webkit-transition-duration:0.2s;
		}

		.cust-btn:hover, .cust-btn:active {
			background-color: white;
			color: #B4710A;
			border-color: #B4710A;

		}

		@media only screen and (orientation: portrait){
			.in-bot {
				margin: 200px 0px 180px 0px;
			}
			.nav-set {
			position: -webkit-sticky; top:0;
			position: sticky;top: 0;
			}
		}




/*==================================================================================*/
/*dashboard styling*/

		.nav-set {
			background-color: #191606;
			border: none;
			height: 50px;
			position: -webkit-sticky; top:0;
			position: sticky;top: 0;

		}

		@media only screen and (max-width: 767px) {
			.dashside {
				display: none;	
			}
			.dashheading {
				border-bottom: solid 2px rgba(25,22,6, 70%);
				color: #191606; 
				font-size: 20px;
				font-weight: bolder;
				display: block;
				padding-top: 0;
				background-color: white;
			}
			.content-margin {
				margin-left: 2%
			}

			.frameprop {

				width: 90%; 
				height: 110vw;
							
			}

			.statusbox {
				display:block;
<<<<<<< HEAD
				width:80vw; height: 40vw; 
=======
				width:80vw; height: 50vw; 
>>>>>>> 4bf8abbc553afb20e382521888d8a16b266b2625
				background-color: #edebe9; 
				margin: 1vw; 
				box-shadow: 5px 5px 10px grey; 
				border-radius: 10px;"
			}

			.mapcontainer {
				display:block;
				width:80vw; height: 80vw; 
				background-color: #edebe9; 
<<<<<<< HEAD
				margin: 1vw; 
=======
				margin-top: 5vh; 
>>>>>>> 4bf8abbc553afb20e382521888d8a16b266b2625
				box-shadow: 5px 5px 10px grey; 
				border-radius: 10px;"			
			}
		}


		@media only screen and (min-width: 768px) {
			.dashnav {
				display: none;
			}
			.dashheading {
				box-shadow: 5px 3px 5px grey;
				color: #191606; 
				font-size: 20px;
				font-weight: bolder;
				display: block;
				padding-top: 10px;
				background-color: white;
			}

			.content-margin {
				margin-left: 20%
			}

			.frameprop {
				width: 75%;
				height: 40vw;
			
			}

			.statusbox {
				display:inline-block;
				width:30vw; height: 40vw; 
				background-color: #edebe9; 
				margin: 1vw; 
				box-shadow: 5px 5px 10px grey; 
				border-radius: 10px;"
			}

			.mapcontainer {
				display:inline-block;
				width:50vw; height: 40vw; 
				background-color: #edebe9; 
				margin: 1vw; 
				box-shadow: 5px 5px 10px grey; 
				border-radius: 10px;"			
			}			
		}

		.sidebar {
			background-color: #191606;
			padding: 0;
			padding-top: 50px;
			font-size: 15px;
			list-style-type: none;
			min-width: 120px;
			width: 16%;	
			height: 100%;
			position: fixed;
			display: inline-block;
			overflow: auto;
			float: left;
			} 

		.logo-dash {
			padding: 25px 0px 25px 0px; 
		}

		.app-container {
			width: 90%;
		}


/*form styling*/

		.instyle {
			margin: 10px;
		}

		.form-container {
			background-color: #191606;
			width: 400px;
		}

		input {
			color: #191606;
			padding:5px; 
			border-radius: 5px; 
			width: 250px;
			margin-bottom:20px;
		}

		button.auth {
			background-color: #B4710A;
			border:none;
			width: 250px;
			text-align: center;
		}

/*main css styling*/
		.main-body {
			background-color: #c9c9c9;
			color: #191606;
<<<<<<< HEAD
=======
			width: 100%;
>>>>>>> 4bf8abbc553afb20e382521888d8a16b266b2625
		}
		.centering{
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
		}

		.inline-center {
			position: absolute;
			left: 50%;
			-webkit-transform: translate(-50%);
			transform: translate(-50%);
		}



		.cust-padd {
			padding: 10px 10px;
		}

		.typ-duration{
			animation-duration: 3s;
		}
		.font-style {
			font-family: : "Arial", Sans-serif;
			font-size: 20px;
			font-weight: normal;
		}


		li a{
				text-decoration: none;
				color:white; 
				display: block;
				padding: 20px;
				margin: 0;
			}

		a:hover.dash, a:active.dash, .selected {
			text-decoration: none;
			background-color: black;
			border-left: solid 10px #B4710A; 
			color: white;
			display: block;
			transition: ease-in 0.1s;
		}

		a:link.dash, a:visited.dash {
			text-decoration: none; 
			color: white;
			display: block;
		}

		a:link.home, a:active.home, a:visited.home, a:hover.home {
			text-decoration: none; 
			color: #B4710A;
			display: block;
		}

		.dashhead {
			position: fixed;
			display: inline-block;
			font-size: 30px;
			font-weight: bolder;
			color: #B4710A;


		}

		.dashcontent {
			margin-left: 20%;
			position: fixed;
			padding-top: 150px;
			padding-left: 50px;
			padding-right: 50px;
			padding-bottom: 50%;
			font-size: 15px;
			color: #191606;
			overflow: auto;
		}

		.transnav {
			font-size: 30px;
			font-weight: bolder;
			color: #B4710A;
		}

		.timenav {

			padding: 10px; display: flex;
			font-size: 20px; color:#B4710A
		}



		.marginbot {
			margin-bottom: 100px;
		}


		



	

	

